@floweden:registry=https://gitlab.com/api/v4/projects/75904967/packages/npm/
//gitlab.com/api/v4/projects/75904967/packages/npm/:username=${GL_READ_USER}
//gitlab.com/api/v4/projects/75904967/packages/npm/:_password=${GL_READ_PASS_B64}
//gitlab.com/api/v4/projects/75904967/packages/npm/:email=none