NEXT_PUBLIC_HOST=http://localhost:$PORT
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=floweden_example
JWT_SECRET=123
JWT_SECRET_ALT=456
RESEND_API_KEY=re_
USER_TOKEN_ATTRS='{"workspace":1,"other":1}'